TextRPG2/.vs/TextRPG2/v16/.suo
TextRPG2/bin/Debug/netcoreapp3.1/TextRPG2.deps.json
TextRPG2/bin/Debug/netcoreapp3.1/TextRPG2.dll
TextRPG2/bin/Debug/netcoreapp3.1/TextRPG2.exe
TextRPG2/bin/Debug/netcoreapp3.1/TextRPG2.pdb
TextRPG2/bin/Debug/netcoreapp3.1/TextRPG2.runtimeconfig.dev.json
TextRPG2/bin/Debug/netcoreapp3.1/TextRPG2.runtimeconfig.json
TextRPG2/obj/project.assets.json
TextRPG2/obj/project.nuget.cache
TextRPG2/obj/TextRPG2.csproj.nuget.dgspec.json
TextRPG2/obj/TextRPG2.csproj.nuget.g.props
TextRPG2/obj/TextRPG2.csproj.nuget.g.targets
TextRPG2/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
TextRPG2/obj/Debug/netcoreapp3.1/apphost.exe
TextRPG2/obj/Debug/netcoreapp3.1/TextRPG2.AssemblyInfo.cs
TextRPG2/obj/Debug/netcoreapp3.1/TextRPG2.AssemblyInfoInputs.cache
TextRPG2/obj/Debug/netcoreapp3.1/TextRPG2.assets.cache
TextRPG2/obj/Debug/netcoreapp3.1/TextRPG2.csproj.CoreCompileInputs.cache
TextRPG2/obj/Debug/netcoreapp3.1/TextRPG2.csproj.FileListAbsolute.txt
TextRPG2/obj/Debug/netcoreapp3.1/TextRPG2.csprojAssemblyReference.cache
TextRPG2/obj/Debug/netcoreapp3.1/TextRPG2.dll
TextRPG2/obj/Debug/netcoreapp3.1/TextRPG2.genruntimeconfig.cache
TextRPG2/obj/Debug/netcoreapp3.1/TextRPG2.pdb
